@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "work-sans";
    src: url("./WorkSans-VariableFont_wght.ttf");
}

body {
    font-family: "work-sans" !important;
}

@media screen and (min-width: 1025px) {
    .px-page {
        padding-left: 7rem;
        padding-right: 7rem;
    }
}

@media screen and (max-width: 1024px) {
    .px-page {
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }
}

.card-radius {
    border-radius: 28px !important;
}
